* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-animation: border-box;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
}
header{
    background:  #005883; 
    padding: 1px 120px ;
    background-image: url();
}
.navegacion{
    width: 95%;
    margin: auto;
    border: 15px 10px;
    background:  #005883;
    text-align: right;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;  
    margin: 2px;  
}
.menu > li > a{
    color: white;
    display: block;
    padding: 20px 20px;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.menu li a:hover{
    background: #F0B429;
    border-bottom: 3px solid #fff;     
    transition: all .3s;
}
/* Submenu */
.logo{
    height: 50px;
    float: left;
    padding: 5px;
}
.widget{
    width: 400px;
    height: 600px;
    float: right;
    margin: 75px 5% 1px 1px;
    border-radius: 5px;
    background: #b3b3b3b7;
    padding: 50px;
}
.submenu{
    position: absolute;
    background:  #005883;    
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s;
    
}
.submenu li a{
    display: block;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #fff;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;

}
.fondo {
    width: 100%;
    background-image: url("../Img/images.png");
    /* background: #ffffff; */
    height: 770px;
    padding: 30px;
}

footer{
    width: 100%;
    padding: 20px;
    background-color: #005883;
}
.seccion{
    background: #a7a7a7dc;
    border-radius: 10px;
    padding: 20px;    
}
h2{
    text-align: center;
}
.inicio{
    width: 60%;
    height: 80%;
    margin: left;
    margin-left: 5%;
    padding: 50px;
    font-size: 18px;
}
article{
    background: #b3b3b3b7;
    width: 80%;
    margin: auto;
    height: 70%;
} 
.conceptos{
    background: #b3b3b3b7;
    width: 80%;
    height: 90%; 
    margin: 0px 10% 30px ;    
    padding: 60px;
    font-size: 18px;
}.inh{    
    width: 60%;
}
.recurso2{
   position: absolute;
   top: 100px;
   bottom: 0;
   right: 0;
   left: 200px;   
}
.recursos{
    padding: 60px;
    align-content: center;
}
.autor table, tr, td{
    border: 1px solid black;
    border-spacing: 1;
    text-align: center;
    width:100%;
    height: 100%;
}
.autor td{
    width: 50%;
    height: 20%;
}
